
<% content_for :style do %>
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "nvibar" %>
  <%= stylesheet_link_tag "messageList" %>
<% end %>

    <div class="title">あなたに届いたメッセージ<br/></div>
    <div class="message-type-area">
        <div class="message-margin"></div>
        <div class="message-type-answer message-type"><a href="/message/index">未解答</a></div>
        <div class="message-type-no-answer message-type"><a href="/message/after">解答済み</a></div>
    </div>
    <% if @messages then %>
      <% @messages.each do |message| %>
          <div class="message-area">
              <div class="message-time"><%= message.created_at.to_s(:human) %></div>
              <a class="message-text" href="/message/add/<%= message.id %>"><%= message.body %></a>
              <div class="message-util"></div>
          </div>
      <% end %>
    <% end %>
<% content_for :navibar do %>
    <div class="nvi-bar-fixed">
        <div class="nvi-bar-icon"><a href="/"><%= image_tag("home_off.png", :class => "nvi-bar-icon-img") %></a></div>
        <div class="nvi-bar-icon"><a href="/message/index"><%= image_tag("message_on.png", :class => "nvi-bar-icon-img") %></a></div>
        <div class="nvi-bar-icon"><a href="/setting/index"><%= image_tag("setting_off.png", :class => "nvi-bar-icon-img") %></a></div>
    </div>
<% end %>
