<% content_for :title do %>
<%= ENV["APP_NAME"] %>
<% end %>
<% content_for :style do %>
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "default" %>
  <%= stylesheet_link_tag "error" %>
<% end %>
<div class="message">
  エラーが発生しました
</div>
<div class="message-detail">
  もう一度ホームからアクセスしてください
</div>
<div class="button"><a href="/">ホームに戻る</a></div>
<div class="space"></div>

<% content_for :navibar do %>
    <div class="nvi-bar-fixed">
        <div class="nvi-bar-icon"><a href="/"><%= image_tag("home_on.png", :class => "nvi-bar-icon-img") %></a></div>
        <div class="nvi-bar-icon"><a href="/message/index"><%= image_tag("message_off.png", :class => "nvi-bar-icon-img") %></a></div>
        <div class="nvi-bar-icon"><a href="/setting/index"><%= image_tag("setting_off.png", :class => "nvi-bar-icon-img") %></a></div>
    </div>
<% end %>
<% content_for :script do %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<% end %>
